<mat-toolbar color='primary' class='mat-elevation-z4'>
  <span>My App</span>
  <span class='example-spacer'></span>
  <a mat-button [routerLink]="['/users']" routerLinkActive='active'>
    1 Users
  </a>
  <a mat-button [routerLink]="['/todo']" routerLinkActive='active' aria-current='page'>
    2 Posts
  </a>
  <a mat-button [routerLink]="['/jokes']" routerLinkActive='active'>
    3 Jokes
  </a>
  <a mat-button [routerLink]="['/users/hello']" routerLinkActive='active'>
    Hello Promises
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
