<div class="container pt-5 pb-5">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Author</div>
    <div class="card-body">
      <h3 class="card-title">{{profile.name}}</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div>
    <button routerLink="../../" mat-raised-button color="primary">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

</div>